@inject IReviewService _reviewService
@inject NavigationManager _navigation

<h2>Reviews</h2>

<Div>
    <div class="row row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-6 g-3">
        @foreach (var review in Reviews)
        {
            <div class="col">
                <MovieReview Review="@review" User="@User" OnLike="OnLikedAsync" />
            </div>
        }
    </div>
    <Div Display="Display.Block" Style="max-width:400px">
        <Button Block Clicked="@ShowModal" Border="Border.Is1" Margin="Margin.Is1">Review</Button>
    </Div>
</Div>
<Modal @ref="_modal">
    <ModalContent Size="ModalSize.Default" Centered>
        <ModalHeader>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Validations Mode="ValidationMode.Auto" @ref="_validations" Model="@_review">
                <Validation>
                    <TextEdit @bind-Text="@_review.Text" Placeholder="Your review">
                        <Feedback>
                            <ValidationError />
                        </Feedback>
                    </TextEdit>
                </Validation>
            </Validations>
        </ModalBody>
        <ModalFooter>
            <Button Clicked="@HideModalAsync">Review</Button>
        </ModalFooter>
    </ModalContent>
</Modal>


@code {
    [Parameter] public IEnumerable<GetReview> Reviews { get; set; }
    [Parameter] public int MovieId { get; set; }
    [Parameter] public EventCallback OnReview { get; set; }
    [Parameter] public ClaimsPrincipal User { get; set; }

    private Modal _modal;
    private PostReview _review;
    private Validations _validations;

    protected override async Task OnInitializedAsync()
    {
        _review = new PostReview();
        _review.MovieId = MovieId;
    }

    private void ShowModal()
    {
        if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("user"))
        {
            _validations.ClearAll();
            _modal.Show();
        }
        else
        {
            _navigation.NavigateTo("authentication/login");
        }
    }

    private async Task HideModalAsync()
    {
        if (await _validations.ValidateAll())
        {
            var identity = User.Identity as ClaimsIdentity;
            var userIdClaim = identity.Claims.First(x => x.Type == "sub");
            var userId = Guid.Parse(userIdClaim.Value);
            _review.UserId = userId;
            await _reviewService.PostReviewAsync(_review);
            await OnReview.InvokeAsync();
            await _modal.Hide();
        }
    }

    protected virtual async Task OnLikedAsync()
    {
        await OnReview.InvokeAsync();
    }
}
