@using MovieSelection.Identity.Quickstart.Account
@model RegisterViewModel

<h1>Register</h1>

<partial name="_ValidationSummary" />

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4>Create a new account.</h4>
            </div>
            <div class="card-body">
                <form asp-route="Register">
                    <input type="hidden" asp-for="@Model.ReturnUrl"/>
                    <div class="form-group">
                        <label asp-for="@Model.UserName"></label>
                        <input asp-for="@Model.UserName" class="form-control"/>
                        <span class="text-danger" asp-validation-for="@Model.UserName"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Email"></label>
                        <input asp-for="@Model.Email" class="form-control"/>
                        <span class="text-danger" asp-validation-for="@Model.Email"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Password"></label>
                        <input asp-for="@Model.Password" class="form-control"/>
                        <span class="text-danger" asp-validation-for="@Model.Password"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ConfirmPassword"></label>
                        <input asp-for="@Model.ConfirmPassword" class="form-control"/>
                        <span class="text-danger" asp-validation-for="@Model.ConfirmPassword"></span>
                    </div>
                    <button class="btn btn-primary" name="button" value="register">Register</button>
                    <button class="btn btn-secondary cancel" name="button" value="cancel">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
